.bag {
  width: 100%;
  min-height: 100vh;
  padding: 10vh 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cart-title p {
  text-align: center;
  font-size: 40px;
  color: #fffcf2;
}
.cart-title {
  height: fit-content;
}
