nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;
    padding: 0 5%;
    backdrop-filter: blur(10px) brightness(60%);
}
nav ul {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ccc5b9;
}
.logo img {
    height: 7vh;
}

.cart-icon-container {
    height: fit-content;
    position: relative;
    display: flex;
    align-content: center;
}

.nav-link {
    height: 30px;
    width: 30px;
    color: #ccc5b9;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    font-family: "poppins";
    font-weight: light;
}

.active {
    color: #eb5e28;
}

.counter {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #eb5e28;
    color: #403d39;
    top: 0;
    right: -5px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins";
    font-weight: bold;
}

.logout {
    color: #403d39;
    cursor: pointer;
    background: none;
    border: none;
    font-weight: bold;
}

/* popup item */

.popup {
    height: fit-content;
    width: 250px;
    background-color: #ccc5b9;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-5vh, 10vh);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.1 ease-in-out;
}

.popup-item {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #403d39;
    font-size: 10px;
    display: grid;
    place-items: center;
    padding: 0 10px;
}

.profile-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.profile-avatar:hover {
    box-shadow: 0px 0px 0px 3px #eb5e28;
}
.profile-avatar:active {
    box-shadow: 0px 0px 0px 3px #eb5e28;
}

.profile-avatar img {
    height: 40px;
    width: 40px;
}

.avatar-preview {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    overflow: hidden;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.avatar-preview:hover {
    box-shadow: 0px 0px 0px 3px #eb5e28;
}

.avatar-preview img {
    height: 50px;
    width: 50px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-name {
    font-size: 1.5em;
    color: #252422;
    font-weight: bold;
}

.user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    color: #403d39;
}
